body,
html {
    width: 100vw;
    width: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #ffe3e3, #fdefef);

    /* enables smooth scroll for anchor links */
}

.container {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-top: 5rem; */
}

.left,
.right {
    display: flex;
    flex: 1;
    /* Take equal space */
    flex-direction: column;
    /* padding: 20px; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    /* Ensures it fills the parent */
}

.left {
    flex: 1;
    display: flex;
    /* Makes it a flex container */
    justify-content: center;
    /* Centers image horizontally */
    align-items: center;
    /* Centers image vertically */
    overflow: hidden;
    /* Prevents overflow */
}

.divider {
    width: 2px;
    /* Thickness of divider */
    background-color: #333;
    /* Color of divider */
    height: 95%;
    /* Full height */
}

#profile {
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border-style: solid;
    border-width: 1px; */

    transform: scale(0.9);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#profile.visible {
    opacity: 1;
    transform: scale(1);
}

#title h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.25rem;
}

#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -4px 0 10px rgb(255, 166, 166), 4px 0 10px rgb(255, 230, 230);
    box-sizing: border-box;

    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    width: 25%;
    height: 75vh;
}

#biodata-container {
    justify-content: left;
}

#profile .portrait {
    width: auto;
    height: auto;
    max-width: 20vw;
    max-height: 20vh;
    border-radius: 50%;
}

/* Hero Section Styles */
.hero {
    height: 100vh;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    text-align: center;
    /* overflow-y: hidden; */
}

.hero .upper {
    height: 50vh;
    /* full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: #ce2525; */
    background: linear-gradient(to right, #ce2525, #fa8e8e);
}

.hero .lower {
    height: 50vh;
    /* full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f8f5f5;
    background: linear-gradient(to right, #f8f5f5, #dfdfdf);

}

.expanding-div {
    width: 0;
    animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.upper .hero-text {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    /* was 20px */
    color: #ffffff;

    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.lower .hero-text {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    /* was 20px */
    color: #ce2525;

    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hero-text.visible {
    opacity: 1;
    transform: scale(1);
}

/* .scroll-arrow {
    font-size: 3rem;
    color: #333;
    text-decoration: none;
    animation: bounce 2s infinite;
} */

/* Simple bounce animation for the arrow */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(0.625rem);
        /* was 10px */
    }

    60% {
        transform: translateY(0.3125rem);
        /* was 5px */
    }
}

.title {
    margin-bottom: 5rem;
    font-size: 3rem;
}

/* This rule ensures the image scales responsively */
.animated-img {
    /* display: block; */
    /* margin: 0 2rem; */
    width: auto;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 5%;
    object-fit: contain;

    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* When the image is in view, we add the "visible" class */
.animated-img.visible {
    opacity: 1;
    transform: scale(1);
}

.detail {
    opacity: 0;
    width: auto;
    transform: translateY(1.25rem);
    /* margin: 2rem auto; */
    font-family: 'Times New Roman', Times, serif;
    padding: 0 2rem;
    font-size: 1.2rem;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.detail.visible {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 980px) {
    .container {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .upper {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .hero .lower {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .hero-text {
        font-family: 'Poppins', sans-serif;
    }

    .upper .hero-text {
        font-size: 5rem;
    }

    .lower .hero-text {
        font-size: 4rem;
    }

    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #profile-container {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 70%;
        height: 70%;
        padding: 0 5rem;
    }

    #title {
        display: flex;
        flex-direction: column;
        justify-content: end;
        justify-items: end;
        align-items: end;
    }

    #title h1 {
        font-size: 5rem;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.5rem;
    }

    #profile .portrait {
        width: auto;
        height: auto;
        max-width: 30vw;
        max-height: 30vh;
        border-radius: 50%;
    }

    #biodata-container {
        font-size: 2rem;
        justify-content: center;
    }

    .left,
    .right {
        /* Take equal space */
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .right {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .animated-img {
        width: auto;
        height: 90%;
        max-width: 100%;
        max-height: 100%;
        border-width: 0.2rem;
        border-style: solid;
        border-color: #333;
        border-radius: 2rem;
        margin: 0;
        padding: 0;
    }

    .title {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.3rem;
        margin-bottom: 5rem;
        font-size: 4rem;
    }    

    .detail {
        width: auto;
        font-size: 2rem;
        /* margin: 2rem auto; */
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        padding: 0 5rem;
    }

}